<div class="content__sections">
	<section class="section container">
		<header class="section__header">
			<h2 class="section__title">
				Buttons
			</h2>
		</header>
		<div class="section__body">
			<div class="flow mb50">
				<%- require('../components/btn/template.ejs')({
					data: {
						caption: {
							text: 'Default btn'
						}
					}
				}) %>
				<%- require('../components/btn/template.ejs')({
					data: {
						href: '/',
						caption: {
							text: 'Default btn-link'
						}
					}
				}) %>
				<%- require('../components/btn/template.ejs')({
					data: {
						icon: {
							name: 'arrow-right',
							position: 'after'
						},
						caption: {
							text: 'With icon after'
						}
					}
				}) %>
				<%- require('../components/btn/template.ejs')({
					data: {
						icon: {
							name: 'arrow-left',
							position: 'before'
						},
						caption: {
							text: 'With icon before'
						}
					}
				}) %>
			</div>
			<div class="flow">
				<div>
					<span>With icon only:&nbsp;&nbsp;</span>
					<%- require('../components/btn/template.ejs')({
						data: {
							icon: {
								name: 'search'
							},
							caption: {
								text: 'With icon only',
								isHidden: true
							}
						}
					}) %>
				</div>
			</div>
		</div>
	</section>

	<section class="section container">
		<header class="section__header">
			<h2 class="section__title">
				Selects
			</h2>
		</header>
		<div class="section__body">
			<ul class="grid grid--4">
				<li class="grid__item">
					<%- require('../components/select/template.ejs')() %>
				</li>
				<li class="grid__item">
					<%- require('../components/select/template.ejs')({
						data: {
							name: 'select-2',
							label: {
								text: 'Select a few country',
								isHidden: false
							},
							multiple: true,
							options: [
								{
									text: 'Россия',
									value: 'Russia',
									isSelected: false
								},
								{
									text: 'Казахстан',
									value: 'Kazakhstan',
									isSelected: false
								},
								{
									text: 'Зимбабве',
									value: 'Zimbabwe',
									isSelected: false
								},
								{
									text: 'Китай',
									value: 'China',
									isSelected: false
								},
							]
						}
					}) %>
				</li>
			</ul>
		</div>
	</section>
</div>
